
    {{#each this}}
    <br>
    <section class="card">
            {{user.username}} on {{format_date created_at}}:
        <div class="text small">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
