<div class="card">
  <style>
    .card {
      padding: 30px;
    }
  </style>
  <h2 class="card-title">
    {{title}}
  </h2>
  <p class="fw-bold">Created by {{user.username}}</p>
  <h4 class="card-text">
    {{post_content}}
  </h4>
<br>

