<div class="user-card">
  <h5 class="card-header">User Info</h5>
  <div class="card-body">
    <h5 class="username">Username:{{posts.[0].user.username}}</h5>
    <h5 class="Posts">Posts:{{posts.length}}</h5>
    <button  href="/" class="edit-button">Edit My User Info</button>
  </div>
</div>

<!-- ask about dashboard  -->
<!-- href="/dashboard"  -->