<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>MVC Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <style>
        .bg-dark {
            background-color: #C69B7B !important;
        }
       </style>
        
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h1>One Stop Devs</h1>
            </a>


            <header>
                <h5>Welcome to the blog!</h5>
                <style>
                    h5 {
                        color: white;
                    }
                </style>
            </header>
            <nav>

                <a type="button" class="btn btn-secondary btn-md" href="/">Home</a>

                {{#if loggedIn}}

                <a type="button" class="btn btn-secondary btn-md" href="/dashboard/">Dashboard</a>


                <a type="button" class="btn btn-secondary btn-md" id="logout">Logout</a>

                {{else}}

                <a type="button" class="btn btn-secondary btn-md" href="/login">Login</a>

                <a type="button" class="btn btn-secondary btn-md" href="/signup">SignUp</a>
                {{/if}}

                <style>
                    .btn-md {
                        background-color: #826F66
                    }
                </style>
            </nav>

        </div>
    </nav>

    <!--main content-->
    <br>
    <main>
        <div class="card w-auto p-3">
        
            <div class="card-body">
                
                {{{body}}}
            </div>
        </div>
        <style>
            .card {
                margin-left: 50px;
                margin-right: 50px;
            }
        </style>
    </main>

    {{#if loggedIn}}

    <script src="./js/logout.js"></script>
    {{/if}}
</body>

</html>