<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <div class="home">
        <header>
            <h1>
                <a href="/">Home</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/">Dashboard</a>
                <button id="logout" class="btn-no-style logout">Logout</button>
                {{else}}
                <a href="/">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
        {{{ body }}}
    </main>
    <footer>
        Welcome to Tech Blog image.png
    </footer>
    </div>

    {{#if loggedIn}}
    <script src="/"></script>
    {{/if}}
</body>

</html>