<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>MVC Tech Blog</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> One Stop Devs</a>
            <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button type="button" class="btn btn-secondary btn-sm" id="logout">Logout</button>
        <script src="/js/logout.js"></script>
        {{else}}
        <a type="button" class="btn btn-secondary btn-sm" href="/login">Login</a>
        <a type="button" class="btn btn-secondary btn-sm" href="/signup">SignUp</a>
        {{/if}}
    </nav>
    
        </div>
    </nav>

    <header>
        <h1>Welcome to the blog!</h1>
    </header>
    <!--login logout button-->
    

    <!--main content-->
    <main>
        <div class="posts">
            {{{body}}}
        </div>
    </main>

    {{#if loggedIn}}
    <script src="./public/js/logout.js"></script>
    {{/if}}
</body>
<footer>
    Thanks for visiting One Stop Devs!
</footer>
</html>