{{#if posts.length}}
<br>
<h3>Your Posts:</h3>
<br>
{{#each posts as |post|}}

<ol class="list-group list-group-numbered">
    <li class="list-group-item"><a href="/post/{{post.id}}">{{post.title}}</li>
</ol>

<br>

{{!-- {{> post-info post}} --}}

{{/each}}
{{/if}}

<br>
<a type="submit" class="btn btn-secondary btn-md" id="new-post" href="/dashboard/new">Add New Post</a>