
{{> post-info post}}

{{!-- {{#if loggedIn}} --}}

{{!-- {{/if}} --}}

{{> comments post.comments}}

<form class="comment-form">
  <div class="form-group">
    <label for="textEntry"></label>
    <textarea name="comment-body" class="form-control" id="textEntry" rows="3" placeholder="Enter content"></textarea>
  </div>
  <input type="submit" class="btn btn-secondary btn-md" value="add comment">
</form>

{{!-- {{#if loggedIn}} --}}
<script src="/js/add-comment.js"></script>
{{!-- {{/if}} --}}